@use "@/styles/functions.scss" as *;
@import "@/styles/variables.scss";
.button {
    all: unset;
    text-transform: uppercase;
    padding: 8px 48px;
    background-color: $green;
    font-size: $text-large;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    &:hover,
    &:active {
        background-color: $green-80;
        transform: scale3d(0.95, 0.95, 0.95);
    }
    &.button-green,
    &.button-default {
        background-color: $green;
        &:hover,
        &:active {
            background-color: $green-80;
        }
    }
    &.button-orange {
        background-color: $orange;
        &:hover,
        &:active {
            background-color: $orange-80;
        }
    }
}
