@use "./functions.scss" as *;

$green: #1ccd63;
$green-80: #16a44f;
$yellow: #f6bf44;
$yellow-2: #c59730;
$white: #ffffff;
$white-80: #f2f2f2;
$pink: #ea346f;
$black: #303030;
$black-25: #30303025;
$orange: #e9612c;
$orange-80: #ad5430;
$purple: #7944e3;
$purple-80: #5a3daf;

$text-medium: rem(24px);
$text-large: rem(40px);
$text-title: rem(64px);

$spacing-s: rem(8px);
$spacing-m: rem(16px);
$spacing-l: rem(24px);
$spacing-xl: rem(36px);
$spacing-xxl: rem(42px);
$spacing-xxxl: rem(60px);
$spacing-2xl: rem(72px);
