@use "@/styles/mixins" as *;
@import "@/styles/variables.scss";
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .timer {
        font-size: $text-large;
    }
    .score {
        filter: drop-shadow(4, 4, 10, $black-25);
        font-size: $text-medium;
        .scoreA {
            @include color-team-a;
        }
        .scoreB {
            @include color-team-b;
        }
    }
}
.teamTitle {
    display: block;
    width: 100%;
    text-align: center;
    font-size: $text-large;
    text-transform: uppercase;
    margin-bottom: $spacing-xxl;
    & .teamA {
        @include color-team-a;
    }
    & .teamB {
        @include color-team-b;
    }
}
.buttons {
    margin-top: $spacing-xxxl;
    display: flex;
    justify-content: space-around;
}
